In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('D:\\datasets\\insurance\\insurance.csv')

In [8]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [10]:
df.shape

(1338, 7)

In [11]:
df.age.count()

1338

In [12]:
print(f'age: {df.age.count()}')
print(f'sex: {df.sex.count()}')
print(f'bmi: {df.bmi.count()}')
print(f'children: {df.children.count()}')
print(f'smoker: {df.smoker.count()}')
print(f'region: {df.region.count()}')
print(f'charges: {df.charges.count()}')

age: 1338
sex: 1338
bmi: 1338
children: 1338
smoker: 1338
region: 1338
charges: 1338

In [13]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [14]:
print(f'age: {df.age.nunique()}')
print(f'sex: {df.sex.nunique()}')
print(f'bmi: {df.bmi.nunique()}')
print(f'children: {df.children.nunique()}')
print(f'smoker: {df.smoker.nunique()}')
print(f'region: {df.region.nunique()}')
print(f'charges: {df.charges.nunique()}')

age: 47
sex: 2
bmi: 548
children: 6
smoker: 2
region: 4
charges: 1337

In [15]:
print(f'age: {pd.api.types.is_numeric_dtype(df.age)}')
print(f'sex: {pd.api.types.is_numeric_dtype(df.sex)}')
print(f'bmi: {pd.api.types.is_numeric_dtype(df.bmi)}')
print(f'children: {pd.api.types.is_numeric_dtype(df.children)}')
print(f'smoker: {pd.api.types.is_numeric_dtype(df.smoker)}')
print(f'region: {pd.api.types.is_numeric_dtype(df.region)}')
print(f'charges: {pd.api.types.is_numeric_dtype(df.charges)}')

age: True
sex: False
bmi: True
children: True
smoker: False
region: False
charges: True

In [16]:
print(f'age: {df.age.isnull().sum()}')
print(f'sex: {df.sex.isnull().sum()}')
print(f'bmi: {df.bmi.isnull().sum()}')
print(f'children: {df.children.isnull().sum()}')
print(f'smoker: {df.smoker.isnull().sum()}')
print(f'region: {df.region.isnull().sum()}')
print(f'charges: {df.charges.isnull().sum()}')

age: 0
sex: 0
bmi: 0
children: 0
smoker: 0
region: 0
charges: 0

In [19]:
print(df.charges.min())
print(df.charges.max())
print(df.charges.quantile(.25))
print(df.charges.quantile(.50))
print(df.charges.quantile(.75))
print(df.charges.mean())
print(df.charges.median())
print(df.charges.mode().values[0])

1121.8739
63770.42801
4740.28715
9382.033
16639.912515
13270.422265141257
9382.033
1639.5631

In [20]:
#spread-std division
df.charges.std() #pandas assumes a sample by default

12110.011236693994

In [21]:
np.std(df.charges)#numpy assumes a population

12105.484975561605

In [22]:
np.std(df.charges,ddof=1) #made the np population a sample

12110.011236693994

In [24]:
#abnormality-skew,kurt
from scipy.stats import kurtosis,skew

print(skew(df.charges,bias=False))
print(kurtosis(df.charges,bias=False))

1.5158796580240383
1.6062986532967916

In [25]:
print(df.charges.skew())
print(df.charges.kurt())

1.5158796580240388
1.6062986532967907